{% extends "blog/base.html" %}
{% block content %}

    <h2>Website Desenvolvido para o projeto da Unidade Curricular Engenharia de Sistemas
        <span> <span/>
    </h2>
    <h3>Equipa B</h3>

    <ul>
        <li> Gustavo Pelayo</li>

        <li> Beatriz Gomes</li>
        <li>Conrado da Costa</li>
        <li>Filipe Teixeira</li>
        <li>Francisco Lobo</li>
        <li>Francisco Monteiro</li>
        <li>João Folhadela</li>
        <li>Joel Moura</li>
        <li>Miguel Duarte</li>

      </ul>  
      <article class="media content-section">

      <h3> Interface Website desenvolvida por:</h3>

      <ul>
        
        <a href = "https://www.linkedin.com/in/gustavo-pelayo-a60505138/"> Gustavo Pelayo</a>
        <li> Beatriz Gomes</li>
      </ul>
    </article>  
{% endblock content %}